name: ProbandoWorkflows

on: 
  push:
    branches: ["dev"]
  pull_request: 
    branches: ["dev"]
    
    
jobs:
  build_and_test:
  
    runs-on: ubuntu-latest
    
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
    steps:
      - uses: actions/checkout@v3
      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: npm build and test
        run: npm run build && npm test
